body {
    margin: 0px;
    background-color: #fff;
    overflow: hidden;
}

.key {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    margin: 5px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}

.key.pressed {
    background-color: #e6b6d1; 
}

.keys {
    display: flex;
}

.numbers {
    display: flex;
    justify-content: flex-start; 
}

.letters {
    display: flex;
    margin-left: auto; 
}
